.about {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 40px 0 40px;
}

.about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-paragraph {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 20px;
    font-weight: 300;
}

.skills-paragraph {
    display: flex;
    flex-direction: column;
    width: 20%;
    font-size: 17px;
    font-weight: 400;
}

.about-purple-font {
    color: #8E54AF;
    font-weight: bold;
}