.about {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 40px 0 40px;
}

.about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 100px 0;
}

.about-paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 45%;
    font-size: 20px;
    font-weight: 300;
}

.icon-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
    width: 250px;
    margin-top: 20px;
}

.icon-row-even {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 130%;
    margin-right: 50px;
}

.icon-row-odd {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 130%;
    margin-left: 50px;
}

.icon {
    transition: all 0.4s ease;
}

.icon:hover {
    transform: rotateY(180deg);
}