.landing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 91vh;
}

.text {
    display: flex;
    flex-direction: column;
}

.image {
    display: flex;
    align-items: center;
}

.title {
    font-weight: 400;
    font-size: 80px;
}

.landing-purple-font {
    color: #8E54AF;
    transition: all 0.8s ease;
}

.landing-purple-font:hover {
    color: #650f89;
}

.cover-image {
    width: 90%;
    max-width: 450px;
}