.navigation-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 0 30px;
    height: 9vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.icon {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 0 20px;
    padding: 0;
    font-family: "Inconsolata", serif;
    font-style: normal;
    color: white;
    background: none;
    border: none;
    transition: all 0.4s ease;
}

.icon:hover {
    color: #8E54AF;
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

.page-sections {
    display: flex;
    justify-content: space-around;
    width: 380px;
    list-style-type: none;
    font-weight: 300;
}

.section {
    font-family: "Inconsolata", serif;
    font-style: normal;
    font-size: 17px;
    color: white;
    background: none;
    border: none;
    transition: all 0.4s ease;
    scroll-behavior: smooth;
}

.section:hover {
    color: #8E54AF;
    cursor: pointer;
}

.section-icon {
    font-family: "Inconsolata", serif;
    font-style: normal;
    font-size: 20px;
    color: white;
}