.navigation-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 0 30px;
  height: 9vh;
  background-color: rgba(16, 2, 22, 0.5);
  backdrop-filter: blur(10px);
}

.navigation-bar--light {
  background-color: rgba(255, 255, 255, 0.5);
}

.icon {
  font-size: 25px;
  font-weight: 400;
  margin: 0 0 0 20px;
  padding: 0;
  font-family: "Inconsolata", serif;
  font-style: normal;
  color: white;
  background: none;
  border: none;
  transition: all 0.4s ease;
}

.icon--light {
  color: black;
}

.icon:hover {
  color: #8e54af;
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}

.page-sections {
  margin: 0;
  padding: 0 0 0 5px;
  display: flex;
  justify-content: space-around;
  width: 380px;
  list-style-type: none;
  font-weight: 300;
}

.section {
  font-family: "Inconsolata", serif;
  font-style: normal;
  font-size: 17px;
  color: white;
  background: none;
  border: none;
  transition: all 0.4s ease;
  scroll-behavior: smooth;
}

.section--light {
  color: black;
}

.section:hover {
  color: #8e54af;
  cursor: pointer;
}

.section-icon-light {
  font-family: "Inconsolata", serif;
  font-style: normal;
  width: 17px;
  height: 17px;
  font-size: 20px;
  color: white;
  transition: all 0.4s ease;
}

.section-icon-light:hover {
  color: #8e54af;
  cursor: pointer;
}

.section-icon-dark {
  font-family: "Inconsolata", serif;
  font-style: normal;
  width: 17px;
  height: 17px;
  font-size: 20px;
  color: black;
  transition: all 0.4s ease;
}

.section-icon-dark:hover {
  color: #8e54af;
  cursor: pointer;
}

.mode-button {
  background: none;
  border: none;
}

/* 576px */
@media (max-width: 576px) {
  .navigation-bar {
    padding: 0 10px 0 20px;
    height: 7vh;
  }

  .page-sections {
    width: 100%;
  }

  .icon {
    font-size: 19px;
  }

  .section {
    font-size: 13px;
  }

  .section-icon-light {
    width: 13px;
    height: 13px;
  }

  .section-icon-dark {
    width: 13px;
    height: 13px;
  }
}

/* 380px */
@media (max-width: 380px) {
  .navigation-bar {
    padding: 0 10px 0 0;
  }

  .icon {
    font-size: 13px;
  }

  .section {
    font-size: 10px;
  }

  .section-icon-light {
    width: 9px;
    height: 9px;
  }

  .section-icon-dark {
    width: 9px;
    height: 9px;
  }
}
