.projects {
  display: flex;
  flex-direction: column;
  margin: 0 40px 0 40px;
}

.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-subheading {
  margin-left: 70px;
  margin-top: 80px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 40px;
  color: white;
}

.projects-subheading--light {
  color: black;
}

.projects-subheading-line {
  text-align: left;
  margin: 0;
  border: none;
  width: 40%;
  height: 2px;
  background: linear-gradient(
    to left,
    #100216,
    #650f89,
    #773d98,
    #8e54af,
    #f3ddff,
    #8e54af,
    #650f89,
    #100216
  );
}

.projects-subheading-line--light {
  background: linear-gradient(
    to left,
    #f3ddff,
    #8e54af,
    #773d98,
    #650f89,
    #100216,
    #650f89,
    #773d98,
    #8e54af,
    #f3ddff
  );
}

/* 992px */
@media (max-width: 992px) {
  .projects-subheading {
    font-size: 35px;
    margin-bottom: 20px;
    margin-left: 40px;
  }
}

/* 768px */
@media (max-width: 768px) {
  .projects-subheading {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

/* 576px */
@media (max-width: 576px) {
  .projects {
    padding: 0 10px 0 10px;
  }

  .projects-subheading {
    font-size: 25px;
    margin-top: 80px;
    margin-left: 0;
  }
}
