.App {
    background-color: #180321;
    font-family: "Lato", serif;
    font-style: normal;
    color: white;
    margin: 0;
    padding: 0;
    position: relative; 
    z-index: 2;
    cursor: default;
}

.purple-button {
    background-color: #8E54AF;
    color: white;
    font-size: 100%;
    font-family: "Lato", serif;
    font-weight: 600;
    font-style: normal;
    width: fit-content;
    border: none;
    border-radius: 8px;
    padding: 13px;
    transition: all 0.4s ease;
}

.purple-button:hover {
    background-color: white;
    color: #8E54AF;
}

.subheading {
    margin-left: 70px;
    margin-top: 80px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 60px;
    color: white;
}

.subheading-line {
    text-align: left;
    margin: 0;
    border: none;
    width: 40%;
    height: 2px;
    background: linear-gradient(to left, #180321, #650f89, #773D98, #8E54AF, #F3DDFF, #8E54AF, #650f89, #180321)
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
}
