.App {
    background: linear-gradient(350deg, #100216, #000000);
    background-attachment: fixed;
    font-family: "Inconsolata", serif;
    font-style: normal;
    color: white;
    margin: 0;
    padding: 0;
    position: relative; 
    z-index: 2;
    cursor: default;
}

html {
    scroll-behavior: smooth; /* Smooth scrolling when clicking on links */
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
}
